/* line 1, ../sass/slicknav/core.scss */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}
/* line 9, ../sass/slicknav/core.scss */
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}

/* line 13, ../sass/slicknav/core.scss */
.slicknav_menu {
  *zoom: 1;
}
/* line 15, ../sass/slicknav/core.scss */
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
/* line 20, ../sass/slicknav/core.scss */
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
/* line 24, ../sass/slicknav/core.scss */
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
/* line 27, ../sass/slicknav/core.scss */
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 38, ../sass/slicknav/core.scss */
.slicknav_menu:before {
  content: " ";
  display: table;
}
/* line 42, ../sass/slicknav/core.scss */
.slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 48, ../sass/slicknav/core.scss */
.slicknav_nav {
  clear: both;
}
/* line 50, ../sass/slicknav/core.scss */
.slicknav_nav ul {
  display: block;
}
/* line 53, ../sass/slicknav/core.scss */
.slicknav_nav li {
  display: block;
}
/* line 56, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
/* line 60, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
/* line 62, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_item a {
  display: inline;
}
/* line 66, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_row {
  display: block;
}
/* line 69, ../sass/slicknav/core.scss */
.slicknav_nav a {
  display: block;
}
/* line 72, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}

/* line 76, ../sass/slicknav/core.scss */
.slicknav_brand {
  float: left;
}
