/* line 1, ../sass/slicknav/core.scss */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}
/* line 9, ../sass/slicknav/core.scss */
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}

/* line 13, ../sass/slicknav/core.scss */
.slicknav_menu {
  *zoom: 1;
}
/* line 15, ../sass/slicknav/core.scss */
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
/* line 20, ../sass/slicknav/core.scss */
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
/* line 24, ../sass/slicknav/core.scss */
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
/* line 27, ../sass/slicknav/core.scss */
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 38, ../sass/slicknav/core.scss */
.slicknav_menu:before {
  content: " ";
  display: table;
}
/* line 42, ../sass/slicknav/core.scss */
.slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 48, ../sass/slicknav/core.scss */
.slicknav_nav {
  clear: both;
}
/* line 50, ../sass/slicknav/core.scss */
.slicknav_nav ul {
  display: block;
}
/* line 53, ../sass/slicknav/core.scss */
.slicknav_nav li {
  display: block;
}
/* line 56, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
/* line 60, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
/* line 62, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_item a {
  display: inline;
}
/* line 66, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_row {
  display: block;
}
/* line 69, ../sass/slicknav/core.scss */
.slicknav_nav a {
  display: block;
}
/* line 72, ../sass/slicknav/core.scss */
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}

/* line 76, ../sass/slicknav/core.scss */
.slicknav_brand {
  float: left;
}

/* line 10, ../sass/slicknav/theme.scss */
.slicknav_menu {
  font-size: 18px;
  box-sizing: border-box;
  background: #616161;
  padding: 5px;
}
/* line 15, ../sass/slicknav/theme.scss */
.slicknav_menu * {
  box-sizing: border-box;
}
/* line 18, ../sass/slicknav/theme.scss */
.slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}
/* line 23, ../sass/slicknav/theme.scss */
.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}

/* line 27, ../sass/slicknav/theme.scss */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222;
}

/* line 36, ../sass/slicknav/theme.scss */
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
}
/* line 43, ../sass/slicknav/theme.scss */
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 20px;
}
/* line 49, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px;
}
/* line 52, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}
/* line 60, ../sass/slicknav/theme.scss */
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff;
}
/* line 65, ../sass/slicknav/theme.scss */
.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222;
}
/* line 73, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
/* line 76, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}
/* line 80, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}

/* line 85, ../sass/slicknav/theme.scss */
.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}
