/* line 10, ../sass/slicknav/theme.scss */
.slicknav_menu {
  font-size: 18px;
  box-sizing: border-box;
  background: #616161;
  padding: 5px;
}
/* line 15, ../sass/slicknav/theme.scss */
.slicknav_menu * {
  box-sizing: border-box;
}
/* line 18, ../sass/slicknav/theme.scss */
.slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}
/* line 23, ../sass/slicknav/theme.scss */
.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}

/* line 27, ../sass/slicknav/theme.scss */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222;
}

/* line 36, ../sass/slicknav/theme.scss */
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
}
/* line 43, ../sass/slicknav/theme.scss */
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 20px;
}
/* line 49, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px;
}
/* line 52, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}
/* line 60, ../sass/slicknav/theme.scss */
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff;
}
/* line 65, ../sass/slicknav/theme.scss */
.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222;
}
/* line 73, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
/* line 76, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}
/* line 80, ../sass/slicknav/theme.scss */
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}

/* line 85, ../sass/slicknav/theme.scss */
.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}
